@media screen and (max-width: 1920px){
    #block2{
        height: 1080px;
    }
}
@media screen and (max-width: 1440px){
    #block2{
        height: 900px;
    }
}@media screen and (max-width: 1366px){
    #block2{
        height: 768px;
    }
}@media screen and (max-width: 720px){
    #block2{
        height: 1280px;
    }
}@media screen and (max-width: 375px){
    #block2{
        height: 667px;
    }
}@media screen and (max-width: 360px){
    #block1{
        height: 900px;
        width: 700px;
    }
    .bloques{
        margin-top: 150px;
        margin-left: 200px;
    }
}



